# Node modules e dependências locais
node_modules
.npm
.pnpm
.yarn

# Pastas de build
.husky
.next
dist
out

# Configs locais
.env
.env.local
.env.*.local
.env.*


# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.cache
.vscode
.idea
*.swp

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Testes
__tests__/
__mocks__/
*.spec.*
*.test.*
*.snap
jest.config.*
vitest.config.*
playwright.config.*

# Documentação
docs